Repository BOOPINION/Vote-BE, pull requests merged in 2024-05, with the labels that each got.

#2 [FEAT] 회원가입 초기 세팅
  package.json
  src/app.module.ts
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/dto/signupRequest.dto.ts
  src/feature/auth/dto/signupResponse.dto.ts
  src/main.ts
  src/model/db/hashtag.ts
  src/model/db/survey-social.ts
  src/model/db/survey.ts
  src/model/db/user.ts
  yarn.lock
Labels: feat, chore

#10 [FEAT] Add crypto service, refactor dir structure for global module
  docs/table-schema.sql
  src/app.module.ts
  src/global/config/crypto.ts
  src/global/crypto.service.ts
  src/global/error/DatabaseError.ts
  src/global/global.module.ts
  src/global/model/db/hashtag.ts
  src/global/model/db/index.ts
  src/global/model/db/survey-social.ts
  src/global/model/db/survey.ts
  src/global/model/db/user.ts
  src/global/request-logger.middleware.ts
  src/global/type/nullable.ts
  src/main.ts
  src/swagger.ts
  tsconfig.json
Labels: feat

#13 [FEAT] Implement /votes, /votes/{voteId}
  docs/dummy.sql
  docs/table-schema.sql
  package.json
  src/feature/vote/vote.module.ts
  src/feature/votes/dto/GetVoteResponse.dto.ts
  src/feature/votes/dto/GetVotesResponse.dto.ts
  src/feature/votes/vote/vote.controller.ts
  src/feature/votes/vote/vote.module.ts
  src/feature/votes/vote/vote.service.ts
  src/feature/votes/votes.controller.ts
  src/feature/votes/votes.module.ts
  src/feature/votes/votes.service.ts
  src/global/model/db/hashtag.ts
  src/global/model/db/survey.ts
  src/global/type/omit.ts
  src/global/type/pick.ts
  src/main.ts
  src/swagger.ts
  yarn.lock
Labels: feat

#14 [FEAT] 회원가입 구현
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/dto/signupRequest.dto.ts
  src/feature/auth/dto/signupResponse.dto.ts
  src/global/crypto.service.ts
  yarn.lock
Labels: feat

#16 [FEAT] 회원가입 transaction 구현 및 이메일 인증 초기 세팅
  package.json
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/email/email.controller.ts
  src/feature/auth/email/email.module.ts
  src/feature/auth/email/email.service.ts
  yarn.lock
Labels: feat, chore

#18 [STYLE] query 타입 any에서 QueryRunner로 변경
  src/feature/auth/auth.service.ts
Labels: style

#21 feature/vote-get 업데이트
  package.json
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/dto/signupRequest.dto.ts
  src/feature/auth/dto/signupResponse.dto.ts
  src/feature/auth/email/email.controller.ts
  src/feature/auth/email/email.module.ts
  src/feature/auth/email/email.service.ts
  src/global/crypto.service.ts
  yarn.lock
Labels: enhancement

#22 Feature/vote get
  src/feature/votes/vote/vote.controller.ts
  src/feature/votes/vote/vote.service.ts
  src/feature/votes/votes.controller.ts
  src/feature/votes/votes.service.ts
  src/global/error/ZeroResultError.ts
  src/global/error/release.ts
  src/global/type/result.ts
Labels: enhancement

#23 Feature/vote create
  src/feature/votes/dto/CreateVoteRequest.dto.ts
  src/feature/votes/dto/CreateVoteResponse.dto.ts
  src/feature/votes/vote/createVote.http
  src/feature/votes/vote/vote.controller.ts
  src/feature/votes/vote/vote.service.ts
Labels: feat

#25 [FEAT] 이메일 코드 전송 및 인증 구현
  package.json
  src/feature/auth/dto/emailVerifyRequest.dto.ts
  src/feature/auth/dto/sendCodeResponse.dto.ts
  src/feature/auth/email/email.controller.ts
  src/feature/auth/email/email.module.ts
  src/feature/auth/email/email.service.ts
  yarn.lock
Labels: feat

#26 로그인 구현
  package.json
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/dto/loginRequest.dto.ts
  src/feature/auth/jwt.strategy.ts
  src/global/config/crypto.ts
  src/global/crypto.service.ts
  yarn.lock
Labels: feat

#27 [FEAT] Implement /vote APIs
  src/feature/auth/auth.controller.ts
  src/feature/auth/auth.module.ts
  src/feature/auth/auth.service.ts
  src/feature/auth/dto/loginRequest.dto.ts
  src/feature/auth/jwt.strategy.ts
  src/feature/auth/login.http
  src/feature/votes/dto/DeleteVoteResponse.dto.ts
  src/feature/votes/getVotes.http
  src/feature/votes/vote/createVote.http
  src/feature/votes/vote/like/doLike.http
  src/feature/votes/vote/like/dto/DoLikeResponse.dto.ts
  src/feature/votes/vote/like/dto/GetLikeResponse.dto.ts
  src/feature/votes/vote/like/dto/GetLikesResponse.dto.ts
  src/feature/votes/vote/like/getLike.http
  src/feature/votes/vote/like/like.controller.ts
  src/feature/votes/vote/like/like.module.ts
  src/feature/votes/vote/like/like.service.ts
  src/feature/votes/vote/question/dto/SubmitQuestionRequest.dto.ts
  src/feature/votes/vote/question/dto/SubmitQuestionResponse.dto.ts
  src/feature/votes/vote/question/question.controller.ts
  src/feature/votes/vote/question/question.module.ts
  src/feature/votes/vote/question/question.service.ts
  src/feature/votes/vote/question/submitAnswer.http
  src/feature/votes/vote/search/dto/SearchHashtagByNameResponse.dto.ts
  src/feature/votes/vote/search/dto/SearchSurveyByHashtagResponse.dto.ts
  src/feature/votes/vote/search/search.controller.ts
  src/feature/votes/vote/search/search.module.ts
  src/feature/votes/vote/search/search.service.ts
  src/feature/votes/vote/search/searchVote.http
  src/feature/votes/vote/update/dto/GetValueForUpdateResponse.dto.ts
  src/feature/votes/vote/update/dto/UpdateVoteRequest.dto.ts
  src/feature/votes/vote/update/dto/UpdateVoteResponse.dto.ts
  src/feature/votes/vote/update/getVoteValuesForUpdate.http
  src/feature/votes/vote/update/update.controller.ts
  src/feature/votes/vote/update/update.module.ts
  src/feature/votes/vote/update/update.service.ts
  src/feature/votes/vote/update/updateVote.http
  src/feature/votes/vote/vote.controller.ts
  src/feature/votes/vote/vote.module.ts
  src/feature/votes/vote/vote.service.ts
  src/feature/votes/votes.service.ts
  src/global/cache/cache.module.ts
  src/global/cache/cache.service.ts
  src/global/config/crypto.ts
  src/global/crypto.service.ts
  src/global/model/db/hashtag.ts
  src/global/model/token-payload.ts
  src/global/request-logger.middleware.ts
  src/global/token-authorization.service.ts
  yarn.lock
Labels: feat
